<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Connection</title>
    <link rel="stylesheet" href="connexion.css" />
   
</head>
<body>
     <header>
        <h1><b>Créer ma Société</b></h1>

     </header>
       
     <div>
        <h1>Login</h1>
        <form id="form" action="connexion.php" method="post">
            <fieldset>
                <label for="nom">Identifiant:</label>
                <input type="text" name="Identifiant" id="identifiant"  ><br><br>
                <label for="password">Mot de passe:</label>
                <input type="password" id="password" name="password" placeholder="Saisissez votre mot de passe"><br><br><br>
                <button type="submit" name="submit">Connection</button>
                <a href="creer_compte.html">Créer un Compte</a>
                
            </fieldset>
        </form>

     </div>
     <footer>
        <p>
            <a href="a-propos.html">À propos</a>  
            <a href="contact.html">Contact</a> 
            <a href="faq.html">FAQ</a>
        </p>
        <p>Tous droits réservés &copy; 2023 Créer ma Société</p>
     </footer>
     <script  src="connexion.js"></script>
</body>
</html>